

body {
    background-color: rgb(252, 203, 240);
}

.LogoInicio {
    height: 80px;
    margin-right: 30px;
}

.LogosCuerpos {
    height: 10vw;
    max-height: 150px;
    min-height: 65px;
}

.contenedorCentrado {
    text-align: center;
}

.campoTexto {
    width: 270px;
    height: 100px;
}

.contenedorfotoCarne {
    display: inline-block;
}

#fotoCarne {
    height: 240px;
    width: 220px;
}

.iconosRedes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconosRedes ul li{
    display: inline-block;
    transition: 3s;
}

.iconosRedes ul:hover a{
    filter: blur(3px);

}

.iconosRedes ul li:hover a{
    filter: none;
    transform: translateY(-5px) scale(1,1);
}

.logosRedes {
    height: 20vw;
    max-height: 200px;
    min-height: 100px;
}

#iconoGit {
    height: 30px;
}

.search-highlight {
    background-color: #007bff; /* Color azul de resaltado */
    color: #fff; /* Texto blanco para contrastar */
}

#searchResultMessage {
    color: red;
}